*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:#0f172a;
    color:white;
}

nav{
    display:flex;
    justify-content:space-between;
    padding:20px 10%;
    background:#111827;
}

nav ul{
    display:flex;
    list-style:none;
    gap:20px;
}

nav a{
    color:white;
    text-decoration:none;
}

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:80px 10%;
    min-height:80vh;
}

.hero-text{
    max-width:600px;
}

.hero-text h1{
    font-size:55px;
}

.hero-text h3{
    color:#38bdf8;
    margin:10px 0;
}

.hero-text p{
    margin:20px 0;
    line-height:1.8;
}

.btn{
    background:#38bdf8;
    color:white;
    text-decoration:none;
    padding:12px 25px;
    border-radius:10px;
}

.hero-image img{
    width:320px;
    height:320px;
    border-radius:50%;
    object-fit:cover;
    border:5px solid #38bdf8;
}

section{
    padding:70px 10%;
}

h2{
    margin-bottom:25px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
    gap:15px;
    margin-bottom:40px;
}

.card{
    background:#1e293b;
    padding:20px;
    border-radius:12px;
    text-align:center;
}

.project-card{
    background:#1e293b;
    padding:20px;
    border-radius:12px;
    margin-bottom:15px;
}

footer{
    text-align:center;
    padding:20px;
    background:#111827;
}
